[Desktop Entry]
Icon=trashcan_empty
Comment=Privacy - a kcontrol module to clean unwanted traces the user leaves on the system
Comment[af]=Privaatheid - 'n Beheer module wat voetspore wat deur gebruikers op die stelsel gelaat word skoon maak
Comment[ar]=الخصوصية - وحدة kcontrol لتنظيف الآثار غير المرغوب بها التي يتركها المستخدم على النظام
Comment[be]=Модуль захавання прыватнасці. Выдаляе файлы, што застаюцца пасля працы карыстальніка на кампутары
Comment[bg]=Настройване заличаването на личната информация
Comment[bn]=প্রাইভেসি -  একটি কে-কন্ট্রোল মডিউল যার কাজব্যবহারের পর অবশিষ্ট চিহ্নগুলি পরিশোধন করা
Comment[bs]=Privatnost - KControl modul koji čisti neželjene tragove koje korisnik ostavlja na sistemu
Comment[ca]=Privacitat - un mòdul de kcontrol per a netejar les traces no desitjades que va deixant un usuari pel sistema
Comment[cs]=Soukromí - modul pro čištění citlivých údajů
Comment[csb]=Priwatny nastôw - mòduł, chtëren zezwôlô remac niepòrządané szlachë jaczé òstałë pò brëkòwnikù w systemie
Comment[cy]=Preifatrwydd - modiwl krheoli i glanhau olion nas dymunir y mae'r defnyddiwr yn eu gadael ar y cysawd
Comment[da]=Privacy - et kcontrol-modul der kan rense systemet for uønskede spor som brugeren efterlader.
Comment[de]=Privatsphäre: Ein Kontrollmodul, das unerwünschte Spuren von Benutzern auf dem System beseitigt
Comment[el]=Προσωπικό απόρρητο - ένα άρθρωμα του kcontrol για τον καθαρισμό των ιχνών που ο χρήστης αφήνει στο σύστημα
Comment[eo]=Privataj aferoj - modulo de la KDEa administrilo, kiu forigas uzantajn spurojn
Comment[es]=Privacy - un módulo de kcontrol para limpiar pistas que el usuario deja en el sistema sin querer
Comment[et]=Privaatsus on juhtimismoodul, mis aitab kõrvaldada süsteemist kasutaja jäetud jäljed
Comment[eu]=Pribatutasuna - Erabiltzaileek sisteman zehar nahi izan gabe uzten dituzten aztarnak garbitzen dituen kcontrol modulua
Comment[fa]=محرمانگی - یک پیمانه kcontrol برای پاک کردن ردیابیهای ناخواسته، که کاربر در سیستم به جا می‌گذارد.
Comment[fi]=Yksityisyys - Ohjauskeskuksen moduuli ei-toivottujen jälkien siivoamiseen järjestelmästä
Comment[fr]=Confidentialité - Un module externe du Centre de configuration pour effacer les traces indésirables qu'un utilisateur laisse sur le système
Comment[fy]=Privacy - in Konfiguraasjemodule wêrmei jo ûnwenste efterbluiwende sporen fan brûkers wiskje kinne
Comment[gl]=Intimidade - un módulo de kcontrol para limpar os rastos non desexados que o usuario deixa no sistema
Comment[he]=פרטיות - מודול ב־kcontrol המשתמש למחיקת עקבות לא רצויים שמשתמש משאיר אחריו במערכת
Comment[hi]=गोपनीयता- उपयोक्ता द्वारा तंत्र में छोड़े गए अवांछित पदचिह्नों को साफ करने का एक के-कंट्रोल मॉड्यूल 
Comment[hr]=Privatnost - Modul kcontrol za brisanje neželjenih tragova koje su korisnici ostavili na sustavu
Comment[hu]=A rendszerben létrejött, privát adatok biztonságos törlése
Comment[is]=Einkamál - stjórneining fyrir kcontrol til að hreinsa burt upplýsingar og gögn sem ekki er æskilegt að verði eftir á vélinni
Comment[it]=Privacy - un modulo di controllo per cancellare le tracce indesiderate che l'utente lascia nel sistema
Comment[ja]=システムの利用を終えた後の不要な利用形跡を削除
Comment[ka]=კონფიდენციალურობა - მოდული kcontrol, წმენდს მომხმარებლის არასასურველ ნაკვალევს სისტემაში
Comment[kk]=Зиянды пайдаланушының қалдырған іздерді өшіретін kcontrol модулі 
Comment[km]=Privacy - ម៉ូឌុល kcontrol មួយ​ដែល​ប្រើ​ដើម្បី​សម្អាត​ដាន ដែល​អ្នក​ប្រើ​បន្សល់​ទុក​លើ​ប្រព័ន្ធ
Comment[lt]=Privatumas - kcontrol modulis, padedantis išvalyti nepageidaujamus naudotojo veiklos sistemoje pėdsakus
Comment[lv]=Privātums - kontrolcentra modulis, kas ļauj iztīrīt nevēlamas pēdas, ko atstāj lietotājs sistēmā
Comment[mk]=Приватност - kcontrol модул кој ги чисти несаканите траги кои ги остава корисникот на системот
Comment[mn]=Privacy - систем дэх хэрэглэгчийн хэрэглэхгүй охрисон хог цэвэрлэгчийн хяналтын модул
Comment[mt]=Privatezza - modulu ta' kcontrol biex tnaddaf traċċi li l-user jista' jħalli fuq is-sistema
Comment[nb]=Personvern – en kcontrol-modul som fjerner uønskede spor som brukeren etterlater i systemet
Comment[nds]=Privaatrebeet - Mit dit Moduul kannst Du de Bruuksporen vun't Systeem wegmaken
Comment[ne]=गोप्यता - प्रयोगकर्ताले प्रणालीमा छोडेका नचाहेका पदचिन्ह हटाउन के नियन्त्रण मोड्युल
Comment[nl]=Privacy - een configuratiemodule waarmee u ongewenste sporen die gebruikers achterlaten kunt wissen.
Comment[nn]=Personvern – ein kontrollmodul som fjernar uønskte spor som brukeren etterlèt seg i systemet
Comment[pa]=ਰਹੱਸ - ਇੱਕ ਕੰਟਰੋਲ ਮੈਡੀਊਲ ਹੈ, ਜੋ ਕਿ ਸਿਸਟਮ 'ਤੇ ਉਪਭੋਗੀ ਦੀ ਨਾ-ਲੋੜੀਦੀ ਪਛਾਣ ਨੂੰ ਸਮਾਪਤ ਕਰਦਾ ਹੈ।
Comment[pl]=Ustawienia prywatności - moduł, który pozwala usunąć niepożądane ślady pozostawiane przez użytkownika w systemie
Comment[pt]=Privacidade - um módulo do kcontrol para limpar os registos indesejáveis que o utilizador deixa no sistema
Comment[pt_BR]=Privacidade - um módulo de controle do KDE para limpar traços não-desejados do usuário no sistema
Comment[ro]=Șterge urmele nedorite pe care le lasă un utilizator în sistem
Comment[ru]=Модуль kcontrol, очищающий нежелательные следы, оставленные пользователем в операционной системе
Comment[rw]=Umwihariko - igice k-igenzura ryo gusiba ibirango bidakenewe ukoresha yasize kuri sisitemu
Comment[se]=Iežassuodjaleapmi – kcontrolmoduvla mii váldá eret luottaid maid geavaheaddji guođđa vuogádahkii
Comment[sk]=Modul na vyčistenie nežiadúcich infomácií, ktoré používateľ necháva v systéme
Comment[sl]=Zasebnost - nadzorni modul, ki počisti nezaželene sledi, ki jih uporabnik pusti na sistemu
Comment[sr]=Приватност — kcontrol модул који уклања трагове активности корисника на систему
Comment[sr@Latn]=Privatnost — kcontrol modul koji uklanja tragove aktivnosti korisnika na sistemu
Comment[sv]=Integritet - en modul i Inställningscentralen för att ta bort oönskade spår användaren lämnat i systemet
Comment[ta]=தனிப்பட்ட-  பயனீட்டாளர் விட்டுவைத்த தேவை இல்லாத சுவடுகளை kcontrol பகுதி நீக்கும்.
Comment[tg]=Барномаи kcontrol барои тоза кардани дирагуниҳои номатлуб, ки бо корбарон дар система монда шудаанд
Comment[th]=ความเป็นส่วนตัว - โมดูลของศูนย์ควบคุม KDE ที่จะทำความสะอาดร่องรอยไม่พึงประสงค์ที่ผู้ใช้ปล่อยเอาไว้บนระบบ
Comment[tr]=Gizlilik - kullanıcının sistemde bıraktığı iztenilmeyen izlemeleri temizleyen kcontrol modülü
Comment[tt]=Xosusílıq – qullanuçıdan soñ sistem eçendä qalğan ezlär beterüçe kcontrol modulı
Comment[uk]=Конфіденційність - модуль керування для очищення небажаної інформації залишеної користувачем у системі
Comment[vi]=Riêng tư - trình điều khiển giúp xoá các dấu vết mà người sử dụng để lại trên hệ thống
Comment[wa]=Vikereye da vosse - on module di kcontrol po rnetyî les passêyes nén volowes ki l' uzeu leye sol sistinme
Comment[zh_CN]=隐私 - 清除用户留在系统中痕迹的 kcontrol 模块
Comment[zh_TW]=隱私權 - 一個控制模組用來清除使用者不希望留在系統中的痕跡
Exec=kcmshell privacy
Keywords=Privacy,privacy
Keywords[ar]=خصوصية، الخصوصية
Keywords[az]=Gizlilik,gizlilik
Keywords[be]=Бяспека,Прыватнасць,Privacy,privacy
Keywords[bg]=анонимност, лична, информация, тайна, Privacy, privacy
Keywords[br]=Buhez prevez,buhez prevez
Keywords[bs]=Privacy,privacy,privatnost
Keywords[ca]=Privacitat,privacitat
Keywords[cs]=soukromí
Keywords[csb]=Priwatnosc,prowatno,swòjno, swòjnosc,priwatny nastôw
Keywords[cy]=Preifatrwydd, preifatrwydd
Keywords[de]=privatsphäre
Keywords[el]=Προσωπικό απόρρητο,προσωπικό απόρρητο
Keywords[eo]=privataj aferoj,privataj aferoj
Keywords[es]=Privacidad,privacidad
Keywords[et]=Privaatsus,privaatsus
Keywords[eu]=Pribatutasuna,pribatutasuna
Keywords[fa]=محرمانگی، محرمانگی
Keywords[fi]=Yksityisyys, yksityisyys
Keywords[fr]=Confidentialité,confidentialité
Keywords[fy]=privacy
Keywords[ga]=Príobháideachas,príobháideachas
Keywords[gl]=Intimidade,intimidade
Keywords[he]=פרטיות,פרטיות, Privacy,privacy
Keywords[hi]=गोपनीय,गोपनीयता
Keywords[hr]=Privacy,privacy,Privatnost,privatnost,privatno
Keywords[hu]=adatvédelem,adatbiztonság
Keywords[is]=Privacy,privacy,einkamál
Keywords[it]=privacy,riservatezza
Keywords[ja]=プライバシー
Keywords[km]=ភាព​ឯកជន
Keywords[lt]=Privacy,privacy,privatumas,Privatumas
Keywords[lv]=Privāts,privātums
Keywords[mk]=Privacy,privacy,Приватност,приватност
Keywords[mt]=Privacy,privacy,privatezza
Keywords[nb]=personvern,privat
Keywords[nds]=Privaatrebeet
Keywords[ne]=गोप्यता, गोप्यता
Keywords[nl]=privacy
Keywords[nn]=personvern,privat
Keywords[pa]=Privacy,ਰਹੱਸ, ਨਿੱਜੀ
Keywords[pl]=Prywatność,prywatność,ustawienia prywatności
Keywords[pt]=privacidade
Keywords[pt_BR]=Privacidade,privacidade
Keywords[ro]=intimitate
Keywords[rw]=Umwihariko,umwihariko
Keywords[se]=Iežassuodjaleapmi,iežassuodjaleapmi
Keywords[sk]=Privacy,privacy,súkromie
Keywords[sl]=Zasebnost,zasebnost
Keywords[sr]=Privacy,privacy,Приватност,приватност,приватно
Keywords[sr@Latn]=Privacy,privacy,Privatnost,privatnost,privatno
Keywords[sv]=Integritet,privatliv
Keywords[ta]=தனிப்பட்ட,தனிப்பட்ட
Keywords[te]=ప్రైవసి
Keywords[th]=ความเป็นส่วนตัว
Keywords[tr]=gizlilik
Keywords[uk]=Конфіденційність
Keywords[uz]=Shaxsiy maʼlumot,shaxsiy maʼlumot
Keywords[uz@cyrillic]=Шахсий маълумот,шахсий маълумот
Keywords[vi]=Riêng tư,riêng tư
Keywords[wa]=privé,privêye vikereye,vikerêye da vosse
Keywords[zh_CN]=Privacy,privacy,隐私
Keywords[zh_TW]=Privacy,privacy,隱私權
Name=Privacy
Name[af]=Privaatheid
Name[ar]=الخصوصية
Name[az]=Gizlilik
Name[be]=Прыватнасць
Name[bg]=Анонимност
Name[bn]=প্রাইভেসি
Name[br]=Buhez prevez
Name[bs]=Privatnost
Name[ca]=Privacitat
Name[cs]=Soukromí
Name[csb]=Priwatnosc
Name[cy]=Preifatrwydd
Name[de]=Privatsphäre
Name[el]=Προσωπικό απόρρητο
Name[eo]=Privataj aferoj
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=محرمانگی
Name[fi]=Yksityisyys
Name[fr]=Confidentialité
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[he]=פרטיות
Name[hi]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Magánjellegű adatok törlése
Name[is]=Einkamál
Name[ja]=プライバシー
Name[ka]=კონფიდენციალურობა
Name[kk]=Қарақшылыққа қарсылық
Name[km]=ភាព​ឯកជន
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mk]=Приватност
Name[ms]=Privasi
Name[mt]=Privatezza
Name[nb]=Personvern
Name[nds]=Privaatrebeet
Name[ne]=गोप्यता
Name[nn]=Personvern
Name[pa]=ਰਹੱਸ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Intimitate
Name[ru]=Конфиденциальность
Name[rw]=Umwihariko
Name[se]=Iežassuodjaleapmi
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sr]=Приватност
Name[sr@Latn]=Privatnost
Name[sv]=Integritet
Name[ta]=தனிமை
Name[te]=ప్రైవసి
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[tt]=Xosusílıq
Name[uk]=Конфіденційність
Name[uz]=Shaxsiy maʼlumot
Name[uz@cyrillic]=Шахсий маълумот
Name[vi]=Riêng tư
Name[wa]=Vikereye da vosse
Name[zh_CN]=隐私
Name[zh_TW]=隱私權
Terminal=false
Type=Application
X-KDE-FactoryName=privacy
X-KDE-Library=privacy
Categories=Qt;KDE;X-KDE-settings-security;
