[Desktop Entry]
Encoding=UTF-8
DocPath=kjots/index.html
Icon=trashcan_empty
Exec=kcmshell privacy
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Utility;X-KDE-More;
Name=Privacy
Name[ar]=الخصوصية
Name[az]=Gizlilik
Name[be]=Прыватнасьць
Name[bg]=Анонимност
Name[bn]=প্রাইভেসি
Name[br]=Buhez prevez
Name[bs]=Privatnost
Name[ca]=Privacitat
Name[cs]=Soukromí
Name[cy]=Preifatrwydd
Name[de]=Privatsphäre
Name[el]=Προσωπικό απόρρητο
Name[eo]=Privataj aferoj
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fi]=Yksityisyys
Name[fr]=Confidentialité
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[he]=פרטיות
Name[hi]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Magánjellegű adatok törlése
Name[is]=Einkamál
Name[ja]=プライバシ
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mk]=Приватност
Name[mt]=Privatezza
Name[nb]=Personvern
Name[nds]=Privaatruum
Name[nn]=Personvern
Name[pa]=ਰਹੱਸ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Intimitate
Name[ru]=Конфиденциальность
Name[se]=Iežassuodjaleapmi
Name[sk]=Súkromie
Name[sr]=Приватност
Name[sr@Latn]=Privatnost
Name[sv]=Integritet
Name[ta]=தனிமை
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[uk]=Конфіденційність
Name[uz]=Шахсий маълумот
Name[vi]=Riêng tư
Name[xx]=xxPrivacyxx
Name[zh_CN]=隐私
Name[zh_TW]=隱私權
GenericName=System Cleaner
