[Desktop Entry]
Encoding=UTF-8
DocPath=sweeper/index.html
Icon=trashcan_empty
Exec=sweeper
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-More;
Name=Sweeper
Name[x-test]=xxSweeperxx
GenericName=System Cleaner
GenericName[x-test]=xxSystem Cleanerxx
