[Desktop Entry]
X-DocPath=
Icon=sweeper
Exec=sweeper
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
Name=Sweeper
GenericName=System Cleaner
