[Desktop Entry]
X-DocPath=
Icon=trashcan_empty
Exec=sweeper
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-More;
Name=Sweeper
Name[ar]=الكناس
Name[fa]=جارو
Name[it]=Spazzino
Name[nds]=Leuwagen
Name[ne]=स्वीपर
Name[pa]=ਸਵੀਪਰ
Name[pl]=Czyszczenie
Name[pt_BR]=Limpador
Name[sl]=Pometač
Name[sv]=Rensning
Name[ta]=ஸ்வீப்பர்
Name[uk]=Очищення
Name[x-test]=xxSweeperxx
Name[zh_CN]=清理器
Name[zh_TW]=清掃器
GenericName=System Cleaner
GenericName[ar]=منظف النظام
GenericName[ca]=Netejador del sistema
GenericName[de]=System aufräumen
GenericName[el]=Καθαρισμός του συστήματος
GenericName[eo]=Sistema purigilo
GenericName[es]=Limpiador del sistema
GenericName[et]=Süsteemi puhastaja
GenericName[fa]=پاک‌کنندۀ سیستم
GenericName[fi]=Järjestelmän puhdistus
GenericName[fr]=Nettoyeur du Système
GenericName[ga]=Glantóir an Chórais
GenericName[gl]=Limpador do sistema
GenericName[he]=מנקה מערכת
GenericName[it]=Pulizia del sistema e riservatezza dei dati
GenericName[ja]=システムクリーナー
GenericName[ko]=시스템 청소기
GenericName[lv]=Sistēmas tīrītājs
GenericName[nds]=Systeemreenmaken
GenericName[ne]=प्रणाली क्लीनर
GenericName[nl]=Systeemopruiming
GenericName[pa]=ਸਿਸਟਮ ਕਲੀਨਰ
GenericName[pl]=Czyszczenie systemu
GenericName[pt]=Limpeza do Sistema
GenericName[pt_BR]=Limpador de Sistema
GenericName[sl]=Čistilec sistema
GenericName[sv]=Systemrensning
GenericName[ta]=அமைப்பு சுத்தப்படுத்தி
GenericName[uk]=Очищення системи
GenericName[x-test]=xxSystem Cleanerxx
GenericName[zh_CN]=系统清理器
GenericName[zh_TW]=系統清除器
